/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#estudo {
    margin: 10px;
}


#estudo div{
    display: inline-block;
    border: 1px solid #000;
    width: 100px;
    height: 40px;
    text-align: center ;
}

#estudo table{
    width: 100px;
}
#estudo table td {
    display: inline-block;
    border: 1px solid #000;
    width: 100px;
    height: 40px;
    text-align: center ;
}

#estudo #estrutura-flexbox #header{
    display: flex;
    flex-direction: row;
}

#estudo #estrutura-flexbox #header div{
    border: 1px solid #000;
    width: 33%;
    text-align: center ;
    padding: 10px;
}










body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Estilização do cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 20px;
    color: #fff;
}

.h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}


.logo img {
    width: 50px;
    height: auto;
}



nav ul {
    list-style: none;
    display: flex;
    gap: 15px;

}

nav {
    text-decoration: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
    text-decoration: none;
}

/* Seção de destaque */
.destaque img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

/* Galeria de produtos */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.produto img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção sobre */
.sobre {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
}

.sobre h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
