/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Estilização do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Estilo para o título centralizado */
header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
}

/* Estilo para o menu */
header nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


.logo img {
    width: 50px;
    height: auto;
}

nav h1 {
    text-align: center;
    display: inline-block;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;

}
nav h1 {
    margin-left: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
    text-decoration: none;
}

/* Seção de destaque */
.destaque img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

/* Galeria de produtos */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.produto img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção sobre */
.sobre {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
}

.sobre h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
